@charset "UTF-8";
body {
  --light:#fff;
  --primery: #f3f0ff;
  --th3: #9775fa;
  --lavender: #f3f0ff;
  --primaryBrandColor: #353589;
  --Secondary: #5f3dc4;
  --royal-blue: #7668e5;
  --gray-medium: #666;
  --dark:#1a1b1e;
}

body.dark {
  --dark:#f3f0ff;
  --light:#1a1b1e;
  --primery: #1a1b1e;
  --Secondary: #f3f0ff;
  --th3: #9775fa;
  --lavender: rgb(18 28 50/1);
  --primaryBrandColor: #7668e5;
  --gray-medium:#f3f0ff;
}

body {
  background-color: var(--light);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  font-family: system-ui;
}
@media (min-width:768px) {
  body {
    font-size: 18px;
    line-height: 30px;
  }
}
body.active::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.48);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primery);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Secondary);
  border-radius: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--th3);
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #fff;
  background-color: #474554;
}
.btn:hover {
  background-color: #5f5c6d;
}
.btn.delete-btn {
  background-color: #b00003;
  color: #fff;
}
.btn.delete-btn:hover {
  background-color: #6e0000;
}

* {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  padding: 38px 0;
  background-color: var(--primery);
  width: 100%;
}
.header .container {
  transition: transform 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
}
.header .container.active {
  flex-wrap: wrap;
}
.header .container .logo a i,
.header .container .logo a svg {
  color: var(--Secondary);
  font-size: 30px;
}
.header .container .nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 1.2rem;
}
@media (max-width:991px) {
  .header .container .nav {
    display: none;
  }
}
.header .container .nav.active {
  flex: 100%;
  order: 1;
  margin-top: 20px;
  display: inherit;
  flex-direction: column;
  gap: 20px;
}
.header .container .nav .links {
  display: flex;
  gap: 10px;
}
.header .container .nav .links.active {
  flex-direction: column;
}
.header .container .nav .links li {
  color: var(--Secondary);
  cursor: pointer;
}
.header .container .nav .theme {
  display: flex;
  align-items: center;
  background-color: var(--Secondary);
  color: var(--primery);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.header .container .nav .theme i,
.header .container .nav .theme svg {
  display: none;
}
.header .container .nav .theme i.active,
.header .container .nav .theme svg.active {
  display: inherit;
}
.header .container .nav .theme span {
  margin-left: 10px;
}
.header .container .menu {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--Secondary);
  color: var(--primery);
}
@media (min-width:992px) {
  .header .container .menu {
    display: none;
  }
}

.home {
  background-color: var(--primery);
  background-image: url(/assets/imges/background-img.png);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 60px;
  background-size: cover;
  margin-bottom: 10px;
}
@media (max-width:767px) {
  .home {
    border-radius: unset;
  }
}
@media (min-width:768px) {
  .home {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.home .container {
  height: calc(100vh - 110px);
  padding-bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 60px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width:1200px) {
  .home .container {
    flex-direction: column;
    gap: 20px;
    height: unset;
  }
}
@media (max-width:767px) {
  .home .container {
    border-radius: unset;
  }
}
.home .container .search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home .container .search-container input {
  padding: 10px;
  border-radius: 13px;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(53, 53, 137, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.home .container .search-container input::-moz-placeholder {
  color: #fff;
}
.home .container .search-container input::placeholder {
  color: #fff;
}
.home .container .search-container input:focus {
  outline: none;
}
.home .container .search-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #5f3dc4;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.home .container .search-container button:hover {
  background: #353589;
}
.home .container .search-container .filed {
  background-color: #b00003;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  text-align: center;
  display: none;
}
.home .container .search-container .filed.active {
  display: inherit;
}
.home .container .left .weather-info {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.home .container .left .weather-info h1 {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  line-height: 49px;
  margin-bottom: 0;
}
@media (min-width:768px) {
  .home .container .left .weather-info h1 {
    line-height: 99px;
  }
}
.home .container .left .weather-info .country {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.home .container .left .date-info {
  display: flex;
  gap: 10px;
  color: #fff;
}
@media (max-width:767px) {
  .home .container .left .date-info {
    flex-direction: column;
    font-weight: unset;
  }
}
.home .container .left .date-info p {
  text-transform: capitalize;
}
.home .container .left .boxes {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* عرض عنصرين في عمودين */
  gap: 20px;
  width: 50%;
  width: 416px;
  margin-top: 40px;
}
@media (max-width:767px) {
  .home .container .left .boxes {
    width: 300px;
  }
}
.home .container .left .boxes .box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.home .container .left .boxes .box div {
  background-color: #5f3dc4;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
}
.home .container .left .boxes .box p {
  text-transform: capitalize;
}
.home .container .right {
  background: linear-gradient(317.63deg, #353589 -7.42%, #9a9aff 120.45%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 40px;
  border-radius: 30px;
  width: 306px;
  text-align: center;
}
.home .container .right .weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width:991px) {
  .home .container .right .weather {
    flex-direction: column;
    gap: 10px;
  }
}
.home .container .right .weather .date,
.home .container .right .weather .description {
  background-color: #353589;
  text-align: start;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 10px;
  border-radius: 30px;
  color: white;
  text-transform: capitalize;
}
.home .container .right .weather-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home .container .right .weather-info .weather-icon {
  font-size: 100px;
  color: transparent;
}
.home .container .right .weather-info .temperature-container .temperature {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  line-height: 49px;
}
@media (min-width:768px) {
  .home .container .right .weather-info .temperature-container .temperature {
    font-size: 76px;
    line-height: 99px;
  }
}
.home .container .right .weather-info .temperature-container sup {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  line-height: 49px;
}
.home .container .right .weather-info .temperature-range {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: #fff;
}
@media (min-width:768px) {
  .home .container .right .weather-info .temperature-range {
    font-size: 24px;
    line-height: 31px;
  }
}

.weekly {
  padding-top: 30px;
  background-color: var(--light);
}
.weekly .container .buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.weekly .container .buttons-wrapper button {
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}
.weekly .container .buttons-wrapper .button-group button {
  transition: all 0.3s ease-in-out;
  position: relative;
  background: transparent;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: rgb(147, 147, 147);
}
@media (min-width:768px) {
  .weekly .container .buttons-wrapper .button-group button {
    font-size: 24px;
    line-height: 31px;
  }
}
.weekly .container .buttons-wrapper .button-group button.active {
  color: var(--primaryBrandColor);
  transition: all 0.3s ease-in-out;
}
.weekly .container .buttons-wrapper .button-group button.active::before {
  transition: all 0.3s ease-in-out;
  content: "";
  transform: translate(-50%, 100%);
  position: absolute;
  left: 50%;
  top: 100%;
  height: 3px;
  width: 11px;
  border-radius: 5px;
  background-color: #353589;
}
.weekly .container .buttons-wrapper .navigation-buttons button {
  background: transparent;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid #e5e7eb;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  color: var(--dark);
}
.weekly .container .buttons-wrapper .navigation-buttons button:hover {
  background: linear-gradient(317.63deg, #353589 -7.42%, #9a9aff 120.45%);
  color: #fff;
  color: var(--primaryBrandColor);
  color: var(--dark);
}
.weekly .gallary {
  scroll-behavior: smooth;
  overflow-x: scroll;
  width: 90%;
  margin: 30px auto;
  display: none;
}
.weekly .gallary.active {
  display: inherit;
}
.weekly .gallary::-webkit-scrollbar {
  display: none;
}
.weekly .gallary .today-wrapper {
  color: var(--primaryBrandColor);
  overflow: hidden;
  display: flex;
  align-items: center;
  color: var(--primaryBrandColor);
  justify-content: center;
  gap: 20px;
}
.weekly .gallary .today-wrapper .weather-box {
  background-color: var(--lavender);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px;
  color: var(--primaryBrandColor);
  width: -moz-fit-content;
  width: fit-content;
  width: 350px;
  border-radius: 50px;
  flex: none;
}
.weekly .gallary .today-wrapper .weather-box:hover {
  background: linear-gradient(317.63deg, #353589 -7.42%, #9a9aff 120.45%);
  color: var(--primaryBrandColor);
}
.weekly .gallary .today-wrapper .weather-box:hover Hover .temperature .temperature-high {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.weekly .gallary .today-wrapper .weather-box:hover Hover .temperature .temperature-low {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.weekly .gallary .today-wrapper .weather-box:hover:hover .wind-speed .icon {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.weekly .gallary .today-wrapper .weather-box:hover:hover .wind-speed .wind-speed-text {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.weekly .gallary .today-wrapper .weather-box:hover:hover .rain .icon {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.weekly .gallary .today-wrapper .weather-box:hover:hover .rain .rain-text {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.weekly .gallary .today-wrapper .weather-box:hover:hover .weather-description p {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.weekly .gallary .today-wrapper .weather-box .weather-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.weekly .gallary .today-wrapper .weather-box .weather-info span {
  background-color: #353589;
  text-align: start;
  width: -moz-fit-content;
  /* width: fit-content; */
  padding: 5px 15px;
  border-radius: 30px;
  color: white;
  text-transform: capitalize;
}
.weekly .gallary .today-wrapper .weather-box .weather-info .weather-time {
  background-color: var(--royal-blue);
}
.weekly .gallary .today-wrapper .weather-box .temperature {
  display: flex;
  align-items: self-end;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: 15px;
}
.weekly .gallary .today-wrapper .weather-box .temperature .temperature-high {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  color: var(--primaryBrandColor);
  color: var(--primaryBrandColor);
}
@media (min-width:768px) {
  .weekly .gallary .today-wrapper .weather-box .temperature .temperature-high {
    font-size: 57px;
    line-height: 74px;
  }
}
.weekly .gallary .today-wrapper .weather-box .temperature .temperature-low {
  opacity: 0.7;
  color: var(--primaryBrandColor);
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
@media (min-width:768px) {
  .weekly .gallary .today-wrapper .weather-box .temperature .temperature-low {
    font-size: 32px;
    line-height: 42px;
  }
}
.weekly .gallary .today-wrapper .weather-box .wind-rain {
  display: flex;
  gap: 10px;
  align-items: center;
}
.weekly .gallary .today-wrapper .weather-box .wind-rain .wind-speed .icon {
  color: var(--royal-blue);
}
.weekly .gallary .today-wrapper .weather-box .wind-rain .wind-speed .wind-speed-text {
  color: var(--gray-medium);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
@media (min-width:768px) {
  .weekly .gallary .today-wrapper .weather-box .wind-rain .wind-speed .wind-speed-text {
    font-size: 18px;
    line-height: 30px;
  }
}
.weekly .gallary .today-wrapper .weather-box .wind-rain .rain .icon {
  color: var(--royal-blue);
}
.weekly .gallary .today-wrapper .weather-box .wind-rain .rain .rain-text {
  color: var(--gray-medium);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
@media (min-width:768px) {
  .weekly .gallary .today-wrapper .weather-box .wind-rain .rain .rain-text {
    font-size: 18px;
    line-height: 30px;
  }
}
.weekly .gallary .today-wrapper .weather-box .weather-description p {
  color: var(--gray-medium);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
@media (min-width:768px) {
  .weekly .gallary .today-wrapper .weather-box .weather-description p {
    font-size: 18px;
    line-height: 30px;
  }
}
.weekly .weekly-gallary {
  scroll-behavior: smooth;
  overflow-x: scroll;
  width: 90%;
  margin: 30px auto;
  display: none;
}
.weekly .weekly-gallary.active {
  display: inherit;
}
.weekly .weekly-gallary::-webkit-scrollbar {
  display: none;
}
.weekly .weekly-gallary .weekly-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.weekly .weekly-gallary .weekly-wrapper .box {
  background-color: var(--lavender);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: var(--primaryBrandColor);
  padding: 20px 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--primaryBrandColor);
  width: -moz-fit-content;
  width: fit-content;
  color: var(--primaryBrandColor);
  width: 130px;
  border-radius: 50px;
  flex: none;
  border-radius: 9999px;
  width: 196px;
  color: var(--primaryBrandColor);
}
@media (min-width:768px) {
  .weekly .weekly-gallary .weekly-wrapper .box {
    color: var(--primaryBrandColor);
  }
}
.weekly .weekly-gallary .weekly-wrapper .box:hover {
  background: linear-gradient(317.63deg, #353589 -7.42%, #9a9aff 120.45%);
}
.weekly .weekly-gallary .weekly-wrapper .box:hover .box-content .date, .weekly .weekly-gallary .weekly-wrapper .box:hover .box-content .temperature {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.weekly .weekly-gallary .weekly-wrapper .box .box-image img {
  width: 100%;
}
.weekly .weekly-gallary .weekly-wrapper .box .box-content {
  margin-top: 15px;
}
.weekly .weekly-gallary .weekly-wrapper .box .box-content .date {
  color: var(--gray-medium);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
@media (min-width:768px) {
  .weekly .weekly-gallary .weekly-wrapper .box .box-content .date {
    font-size: 18px;
    line-height: 30px;
  }
}
.weekly .weekly-gallary .weekly-wrapper .box .box-content .temperature {
  margin-top: 18px;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  color: var(--primaryBrandColor);
  color: var(--primaryBrandColor);
}
@media (min-width:768px) {
  .weekly .weekly-gallary .weekly-wrapper .box .box-content .temperature {
    font-size: 57px;
    line-height: 74px;
  }
}/*# sourceMappingURL=main.css.map */