// Media
// Max

$extraSmall: "(max-width:576px)";
$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
$maxLarge: "(max-width:1200px)";
// Min
$extraMinSmall: "(min-width:449px)";
$minSmall: "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";
$minLarge2: "(min-width: 1280px)";
// #F7F8FA => do not  forget to make it var
// Colors
$light: #fff;
$dark:#000000;
$Secondary: #5f3dc4;
$primaryBrandColor: #353589;
$grad: linear-gradient(317.63deg, #353589 -7.42%, #9a9aff 120.45%);
$limeGreen:#27B02C;
$sunshine-yellow: #F9D620;

body {
  // Violet
  --light:#fff;
  --primery: #f3f0ff;
  --th3: #9775fa;
  --lavender: #f3f0ff;
  --light-gray: #f7f8fa;
  --primaryBrandColor: #353589;
  --Secondary: #5f3dc4;
  --royal-blue: #7668e5;
  --gray-medium: #666;
  --dark:#1a1b1e;
  --Dark-4: #f7f8fa;
  --Lavender-Blue: #EEEEFF;
  --Deep-Midnight-Blue:#f7f8fa;
  --Cloudy-Silver:#e5e7eb;
}
body.dark {
  --Cloudy-Silver:rgb(233 233 233/1);
  --Deep-Midnight-Blue:#121C32;
  // --Midnight-Blue:#2C3549;
  --Lavender-Blue: #2C3549;
  --Dark-4: #373a40;
  --dark:#f3f0ff;
  --light:#1a1b1e;
  --primery: #1a1b1e;
  --light-gray:#1a1b1e;
  --Secondary: #f3f0ff;
  --th3: #9775fa;
  --lavender: rgb(18 28 50/1);
  --primaryBrandColor: #7668e5;
  --gray-medium:#f3f0ff;
}

// transition
$pri-Transition: all 0.3s ease-in-out;
$sec-Transition: all 0.5s ease-in-out;
// Shadow
$primary-shadow:0 4px 13px hsla(0,0%,71%,.25);
$drop-shadow:drop-shadow(5px 5px 10px var(--gray-medium));
 
$primary: #eee;
$slate-gray: #a8b3bc;
$teal: #43655a;
$dark-red: #b00003;
$dark-blue-gray: #2f4858;
$light-lavender-gray: #aca7cb;
//
$primary: #eee;
$Lavender: #faf7ff;
$dark-grayish-purple: #474554;
$SteelGray: #5f5c6d;
$Periwinkle: #8685ef;
$dark-red: #b00003;
$DarkMaroon: #6e0000;
.apsdkl{
  --Dark-0: #c1c2c5;
  --Dark-1: #a6a7ab;
  --Dark-2: #909296;
  --Dark-3: #5c5f66;
  --Dark-4: #373a40;
  --Dark-5: #2c2e33;
  --Dark-6: #25262b;
  --Dark-7: #1a1b1e;
  --Dark-8: #141517;
  --Dark-9: #101113;
}
