@use "../utils/variables" as *;

body {
  scroll-behavior: smooth;
  // height: 100%;
  background-color: var(--light);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  @media #{$minSmall} {
    font-size: 18px;
    line-height: 30px;
  }
  font: {
    family:  system-ui;
  }

  &.active::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 48%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
  }
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primery);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Secondary);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: $dark-grayish-purple;
  background: var(--th3);

}
