@use "../utils/variables" as *;
.restaurants {
  background-color: var(--Dark-4);
  padding-top: 105px;
  padding-bottom: 105px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    .restaurant-container {
      display: flex;
      align-items: end;
      justify-content: space-between;
      gap: 10px;
      .restaurant-title {
        color: var(--dark);
        width: 66.67%;
        @media #{$maxMobile} {
          // width: 41.67%;
          width: 100%;
        }
        h2 {
          // font-weight: 700;
          // font-size: 57px;
          // line-height: 74px;
        }
      }

      .navigation-buttons {
        justify-content: end;
        @media #{$minSmall} {
          width: 66.67%;
          // width: 41.67%;
        }
      }
    }
    .restaurant-gallery {
        margin-top: 30px;
        overflow-x: scroll;
        padding-bottom: 20px;
        &::-webkit-scrollbar {
          display: none;
        }
      .restaurant-wrapper {
        display: flex;
        align-items: center;
        // gap: 30px;
        gap: 7px;
        flex: none;
        box-sizing: content-box;
        .restaurant-card {
          box-shadow: $primary-shadow;
          background-color: var(--lavender);
          padding: 20px;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          flex: none;
          gap: 10px;
          width: 400px;
          @media #{$minMedium} {
            width: calc((100% - 20px) / 3);
          }
          @media #{$maxSmall} {
            width: calc((100% - 20px) / 2);
          }
          @media #{$extraSmall} {
            width: calc(100% - 20px / 1);
          }
          .restaurant-cover {
            overflow: hidden;
            border-radius: 20px;
            width: 100%;
            img {
              border-radius: 20px;
              display: block;
            //   vertical-align: middle;
              transition: $sec-Transition;
              width: 100%;
              &:hover {
                transform: scale(1.1);
              }
            }
          }

          .restaurant-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .restaurant-info {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .restaurant-name {
                color: var(--dark);
              }

              .restaurant-stars {
                color: var(--gray-medium);

               i,svg{
                &:not(:last-child){
                  color: $sunshine-yellow;
               }
               }
              }
            }

            .restaurant-address {
              color: var(--gray-medium);

              // Styles for the restaurant address (p)
            }

            .restaurant-price {
              color: var(--dark);

              // Styles for the restaurant price (h4)

              .currency-symbol {
                color: $limeGreen;

                // Styles for the currency symbol
              }

              .delivery {
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                margin-left: 5px;
              }
            }
          }

          .restaurant-buttons {
            margin-top: 25px;

            a {
              // Common styles for anchor links within the buttons
            }

            .reserve-now-button {
              margin-right: 15px;
            }

            .details-button {
              cursor: pointer;
              color: var(--primaryBrandColor);
              &:hover {
                transition: $sec-Transition;
                i,
                svg,
                img {
                  padding-left: 5px;
                }
              }
              i,
              svg,
              img {
                transition: $sec-Transition;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }

    .see-more {
      margin: 40px auto;
      @media #{$minSmall} {
        margin: 60px auto;
      }
      a {
      }
    }
  }
}
