@use "../utils/variables" as *;
.home {
  background-color: var(--primery);
  // /assets/imges/background-img.png => live vs code
  background-image: url(../../imges/background-img.png);
  // url(../imges/background-img.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 60px;
  margin-bottom: 10px;
  // margin-top: 17px;
  @media #{$maxMobile} {
    border-radius:unset;
  }
  @media #{$minSmall} {
    margin-left: 30px;
    margin-right: 30px;
  }
  .container {
    height: calc(100vh - 110px);
    padding-bottom: 10px;
    margin-top: 115px;
    // margin-top: 10px;
    // background-image: url(../../../imges/background-img.png);
    // background-image: url("/imges/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 60px;
    background-size: cover;
    // background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media #{$maxLarge} {
      flex-direction: column;
      gap: 20px;
      height: unset;
    }
    @media #{$maxMobile} {
      border-radius: unset;
    }
    .search-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      input {
        padding: 10px;
        border-radius: 13px;
        border: none;
        outline: none;
        color: $light;
        &::placeholder {
          //   color: var(--primery);
          color: $light;
        }
        //
        background: rgba(53, 53, 137, 0.2);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        &:focus {
          outline: none;
        }
      }
      button {
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        background-color: $Secondary;
        color: $light;
        transition: $pri-Transition;
        &:hover {
          background: $primaryBrandColor;
          //   color: var(--primery);
        }
      }
      .filed {
        background-color: $dark-red;
        color: white;
        padding: 2px 10px;
        border-radius: 5px;
        text-align: center;
        display: none;
        &.active {
          display: inherit;
        }
      }
      .search-button {
      }
      .location-button {
      }
    }

    .left {
      .weather-info {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
          color: $light;
          font-size: 38px;
          font-weight: 700;
          line-height: 49px;
          // margin-bottom: 10px;
          margin-bottom: 0;
          @media #{$minSmall} {
            // font-size: 76px;
            line-height: 99px;
          }
        }
        .country {
          // position: absolute;
          // top: 37px;
          // top: 9px;
          text-transform: uppercase;
          // right: 0;
          font-weight: bold;
          color: $light;
        }
      }

      .date-info {
        display: flex;
        gap: 10px;
        color: $light;
        // font-weight: bold;
        @media #{$maxMobile} {
          flex-direction: column;
          font-weight: unset;
        }
        p {
          text-transform: capitalize;
        }
        .weather-date {
        }
        .weather-update-time {
        }
      }
      // .boxes {
      //   background-color: $light;
      //   border-radius: 10px;
      //   padding: 10px;
      //   display: grid;
      //   grid-template-columns: repeat(2, 1fr); /* عرض عنصرين في عمودين */
      //   // grid-gap: 10px; /* المسافة بين العناصر */
      //   gap: 20px;
      //   width: calc(100% / 2);
      //   width: 416px;
      //   margin-top: 40px;
      //   @media #{$maxMobile} {
      //     width: 300px;
      //   }
      //   .box {
      //     display: flex;
      //     align-items: center;
      //     gap: 20px;
      //     div {
      //       background-color: $Secondary;
      //       padding: 10px 20px;
      //       border-radius: 10px;
      //       color: $light;
      //       i,
      //       svg {
      //       }
      //       img {
      //       }
      //     }
      //     p {
      //       text-transform: capitalize;
      //     }
      //   }
      // }
    }

    // .right {
    //   background: $grad;
    //   display: flex;
    //   flex-direction: column;
    //   gap: 20px;
    //   padding: 25px 40px;
    //   border-radius: 30px;
    //   // width: 206px;
    //   width: 306px;
    //   text-align: center;
    //   @media #{$minSmall} {
    //   }
    //   .weather {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     @media #{$maxSmall} {
    //       flex-direction: column;
    //       gap: 10px;
    //     }
    //     .date,
    //     .description {
    //       background-color: $primaryBrandColor;
    //       text-align: start;
    //       width: fit-content;
    //       // padding: 6px 20px;
    //       padding: 6px 10px;
    //       border-radius: 30px;
    //       color: white;
    //       text-transform: capitalize;
    //     }
    //     .date {
    //     }
    //     .description {
    //     }
    //   }
    //   // > span {
    //   //   background-color: $primaryBrandColor;
    //   //   text-align: start;
    //   //   width: fit-content;
    //   //   padding: 6px 20px;
    //   //   border-radius: 30px;
    //   //   color: white;
    //   // }
    //   .weather-info {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 10px;
    //     .weather-icon {
    //       font-size: 100px;
    //       //   color: $light;
    //       color: transparent;
    //     }
    //     .temperature-container {
    //       .temperature {
    //         color: $light;
    //         font-size: 38px;
    //         font-weight: 700;
    //         line-height: 49px;
    //         @media #{$minSmall} {
    //           font-size: 76px;
    //           line-height: 99px;
    //         }
    //       }
    //       sup {
    //         color: $light;
    //         font-size: 38px;
    //         font-weight: 700;
    //         line-height: 49px;
    //       }
    //     }

    //     .temperature-range {
    //       font-size: 18px;
    //       font-weight: 500;
    //       line-height: 23px;
    //       color: $light;
    //       @media #{$minSmall} {
    //         font-size: 24px;
    //         line-height: 31px;
    //       }
    //     }
    //   }
    // }
  }
}
