@use "../utils/variables" as *;
.weekly {
  padding-top: 30px;
  background-color: var(--light);
  .container {
    .buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      button {
        padding: 5px 15px;
        border: none;
        cursor: pointer;
        text-transform: capitalize;
      }
      .button-group {
        button {
          transition: $pri-Transition;
          position: relative;
          background: transparent;
          font-size: 18px;
          font-weight: 500;
          line-height: 23px;
          color: rgb(147 147 147/1);
          @media #{$minSmall} {
            font-size: 24px;
            line-height: 31px;
          }
          &.active {
            color: var(--primaryBrandColor);
            transition: $pri-Transition;
            &::before {
              transition: $pri-Transition;
              content: "";
              transform: translate(-50%, 100%);
              position: absolute;
              left: 50%;
              top: 100%;
              height: 3px;
              width: 11px;
              border-radius: 5px;
              background-color: $primaryBrandColor;
            }
          }
        }
        .today-button {
        }
        .weekly-button {
        }
      }

      .navigation-buttons {
        button {
          // background: transparent;
          // border-radius: 50%;
          // width: 35px;
          // height: 35px;
          // border: 1px solid #e5e7eb;
          padding: 5px;
          // transition: $pri-Transition;
          // color: var(--dark);
          &:hover {
            // background: $grad;
            // color: $light;
          }
        }
        .previous-button {
        }
        .next-button {
        }
      }
    }
  }

  .gallary {
    scroll-behavior: smooth;
    overflow-x: scroll;
    width: 90%;
    margin: 30px auto;
    display: none;
    &.active {
      display: inherit;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .today-wrapper {
      color: var(--primaryBrandColor);
      display: flex;
      align-items: center;
      color: var(--primaryBrandColor);
      gap: 20px;

      .weather-box {
        background-color: var(--lavender);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px 30px;
        color: var(--primaryBrandColor);
        width: fit-content;
        width: 350px;
        border-radius: 50px;
        flex: none;

        &:hover {
          background: $grad;
          color: var(--primaryBrandColor);
          .temperature {
            .temperature-high,
            .temperature-low {
              transition: $pri-Transition;
              color: $light;
            }
          }
          &:hover {
            .wind-speed {
              .icon {
                transition: $pri-Transition;
                color: $light;
              }
              .wind-speed-text {
                transition: $pri-Transition;
                color: $light;
              }
            }

            .rain {
              .icon {
                color: $light;
                transition: $pri-Transition;
              }
              .rain-text {
                color: $light;
                transition: $pri-Transition;
              }
            }

            .weather-description {
              p {
                transition: $pri-Transition;
                color: $light;
              }
            }
          }
        }
        img,
        i,
        svg {
        }

        .weather-info {
          display: flex;
          align-items: center;
          gap: 10px;
          span {
            background-color: #353589;
            text-align: start;
            width: -moz-fit-content;
            /* width: fit-content; */
            padding: 5px 15px;
            border-radius: 30px;
            color: white;
            text-transform: capitalize;
          }
          .weather-text {
          }
          .weather-time {
            background-color: var(--royal-blue);
          }
        }

        .temperature {
          display: flex;
          align-items: self-end;
          justify-content: center;
          width: 100%;
          gap: 10px;
          margin-top: 15px;

          .temperature-high {
            font-size: 32px;
            font-weight: 700;
            line-height: 42px;
            color: var(--primaryBrandColor);
            color: var(--primaryBrandColor);
            @media #{$minSmall} {
              font-size: 57px;
              line-height: 74px;
            }
          }
          .temperature-low {
            opacity: 0.7;
            color: var(--primaryBrandColor);
            font-size: 24px;
            font-weight: 700;
            line-height: 34px;
            @media #{$minSmall} {
              font-size: 32px;
              line-height: 42px;
            }
          }
        }

        .wind-rain {
          display: flex;
          gap: 10px;
          align-items: center;

          .wind-speed {
            .icon {
              color: var(--royal-blue);
            }
            .wind-speed-text {
              color: var(--gray-medium);
              font-family: Lato;
              font-size: 16px;
              font-weight: 400;
              line-height: 21px;
              @media #{$minSmall} {
                font-size: 18px;
                line-height: 30px;
              }
            }
          }

          .rain {
            .icon {
              color: var(--royal-blue);
            }
            .rain-text {
              color: var(--gray-medium);
              font-family: Lato;
              font-size: 16px;
              font-weight: 400;
              line-height: 21px;
              @media #{$minSmall} {
                font-size: 18px;
                line-height: 30px;
              }
            }
          }
        }

        .weather-description {
          p {
            color: var(--gray-medium);
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            @media #{$minSmall} {
              font-size: 18px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }

  .weekly-gallary {
    scroll-behavior: smooth;
    overflow-x: scroll;
    width: 90%;
    margin: 30px auto;
    display: none;
    &.active {
      display: inherit;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .weekly-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
      .box {
        background-color: var(--lavender);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        color: var(--primaryBrandColor);
        padding: 20px 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        color: var(--primaryBrandColor);
        width: fit-content;
        color: var(--primaryBrandColor);
        border-radius: 50px;
        flex: none;
        border-radius: 9999px;
        width: 196px;
        color: var(--primaryBrandColor);
        @media #{$minSmall} {
          color: var(--primaryBrandColor);
        }
        &:hover {
          background: $grad;
          .box-content {
            .date,
            .temperature {
              transition: $pri-Transition;
              color: $light;
            }
          }
        }
        .box-image {
          img {
            width: 100%;
            filter: drop-shadow(3px 3px rgb(70, 69, 69));
            // box-shadow: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);
          }
        }

        .box-content {
          margin-top: 15px;
          .date {
            color: var(--gray-medium);
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            @media #{$minSmall} {
              font-size: 18px;
              line-height: 30px;
            }
          }
          .temperature {
            margin-top: 18px;
            font-size: 32px;
            font-weight: 700;
            line-height: 42px;
            color: var(--primaryBrandColor);
            color: var(--primaryBrandColor);
            @media #{$minSmall} {
              font-size: 57px;
              line-height: 74px;
            }
          }
        }
      }
    }
  }
}
